<div id="hero-info">
  <h2>{{hero-name}}</h2>
  <h4>{{hero-info}}</h4>
  <div class="health-bar">
    {{health}}
  </div>
  <div class="option-menu">
    <div class="moves">Fight</div>
    <div class="moves">Item</div>
    <div class="moves">Magic</div>
    <div class="moves">Run</div>
  </div>
</div>
