
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

/***********************************
//FIGHT HTML SCREEN
***********************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body{
  color:white;
}

.fight-page{
  padding-top: 50px;
  background-image: url('../images/creepycabin.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.fight-screen{
  padding-top: 100px;
  background-color: rgba(9, 9, 9, 0.59);  padding:10px;
  box-shadow: 1px 1px 8px #fff;
  margin-bottom: 30px;
  text-decoration: none;
  color: #FFFFFF;
}

h1{
  text-align: center;
}

.player-option{
  border: 1px solid #333333;
}

.enemy-info{
  border: 1px solid #333333;
}

.enemy-pic{
  float: right;

}

.hero-info{

  border: 1px solid #333333;
}

.health-bar{
  background-color: #b72828;
}

.option-menu{
  border: 1px solid #333333;
}

.moves{
  color: white;
}

.combat-log{
  border: 1px solid #FFFFFF;
  color:white;
}

/***********************************
//INTRO / INDEX PAGE STYLINGS
***********************************/


.background-splash {

  color: red;
  background-size: cover;
  background-image: url('../images/backgroundhall.jpeg');
  // background-image: cover;

}
.splash-header {
  font-size: 50px;
}
.subheader {
  color: white;
  text-align: center;
}

.intro-button-div {
  margin: 0 auto;
  text-align: center;
}

.into-game {
  width: 200px;
  background: linear-gradient( red, red 30%, black);
    a{
      font-size: 18px;
      font-weight: 600;
      color: white;
      text-decoration: none;
    }
}

/*************************************
* Character Select
**************************************/

.character-select-title{
  color: red;
}


.player-option{
  background-color: rgba(9, 9, 9, 0.59);  padding:10px;
  box-shadow: 1px 1px 8px #fff;
  margin-bottom: 30px;
  text-decoration: none;
  color: #FFFFFF;
}

.player-option:hover {
  background-color: rgba(82, 77, 77, 0.7);  padding:10px;
  box-shadow: 1px 1px 15px #bdde90;
}

.character-stats{

}

.character-type{

}

.character-name{

}

.name-tile{
  display: inline-block;
}

.name-info{
  display: inline-block;
  width: 100%
}

.char-pic{
  display: inline-block;
  float: right;
  img {
    max-height: 150px;
  }
}

.stat{
  border:1px solid black;
  display: inline-block;
  // margin-left:2%;
  // margin-right:2%;
  width:49.4%;
  height:40px;
}

.health{
  background-color: red;
}

.power{
  background-color: orange;
}

.defense{
  background-color: purple;
}

.speed{
  background-color: #d6ed2d;
}

.char-select-body {
  background-image: url('../images/select-screen.jpeg');
  background-size: cover;
  background-repeat: no-repeat;

}
