
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body{
  color:white;
}

.container{
  background-color: #2c81a5;
}

h1{
  text-align: center;
}

.player-option{
  border: 1px solid #333333;
}

.enemy-info{
  border: 1px solid #333333;
}

.hero-info{
  border: 1px solid #333333;
}

.health-bar{
  background-color: #b72828;
}

.option-menu{
  border: 1px solid #333333;
}

.moves{
  color: white;
}

.combat-log{
  border: 1px solid #FFFFFF;
  color:white;
}
