<div id="enemy-info">
  <h2>{{ name }}</h2>
  <h4>{{ enemy-info}}</h4>
  <div class="enemy-health">
    {{ health }}
  </div>
  <div class="col-md-8">
    <div class="enemy-pic">
      <img src="{{ image }}" alt="">
    </div>
  </div>
</div>
