<div id="enemy-info">
  <div class="col-md-4">
    <h2 class="enemy-name-tag">{{ name }}</h2>
    <h4>{{ enemy-info}}</h4>
    <div class="enemy-health">
      {{ health }}
    </div>
    <!-- <div class="animate-box">
      <div class="attack-box claw1"></div>
      <div class="attack-box claw2"></div>
      <div class="attack-box claw3"></div>
    </div> -->
  </div>
  <div class="col-md-offset-3 col-md-4 enem">
    <div class="enemy-pic">
      <img src="{{ image }}" class="fight-pic" alt="">
    </div>
  </div>
</div>
