<!-- <div id="hero-info"> -->
  <div>
  <h2>{{name}}</h2>
  <h4>{{hero-info}}</h4>
  <div class="health-bar">
    {{health}}
  </div>
  <!-- <div class="option-menu">
    <button type="button" name="button" class="button fight-btn">Fight!</button>
    <div class="moves">Item</div>
    <div class="moves">Magic</div>
    <div class="moves">Run</div>
  </div> -->
</div>
