<div id="hero-info">
  <div class=col-md-6>
  <img class="fight-pic" src="{{ image }}" alt="">
  </div>
  <div class="col-md-6">
    <div>
      <h2>{{displayName}}</h2>
      <h4>{{hero-info}}</h4>
        <div class="health-bar">
          {{health}}
        </div>
    </div>
  </div>
</div>
